@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: aliceblue;
}
.box{
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.box::before{
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: 100%;
    height: 100%;
    background-color: green;
    border-radius: 10px;
    z-index: -1;
}

.box.offline::before{
    content: '';
    position: absolute;
    top: 0;
    left: -8px;
    width: 100%;
    height: 100%;
    background-color:rgb(90, 86, 86);
    border-radius: 10px;
    z-index: -1;
}

.box .icon{
    position: absolute;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: green;
    color: white;
   
}

.box .icon.offline{
    position: absolute;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color:rgb(90, 86, 86);
    /* color: white; */
   
}

.icon .material-symbols-outlined{
    font-size: 40px;
}
.text h3{
    font-size: 20px;
    font-weight: bold;
}
.text p{
    font-size: 15px;
    font-weight: 500px;
    color: rgb(104, 99, 99);
}